<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="d-flex">
        <h2 class="font-weight-bold">Create a new User</h2>
    </div>
    <form [formGroup]="createForm">
        <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" id="first_name" class="form-control" formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.firstName.errors }" />
            <div *ngIf="submitted && this.createForm.controls.firstName.errors"
            class="invalid-feedback">
                <div *ngIf="this.createForm.controls.firstName.errors.required">
                    First Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" id="last_name" class="form-control" formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.lastName.errors }" />
            <div *ngIf="submitted && this.createForm.controls.lastName.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.lastName.errors.required">
                    Last Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address :</label>
            <input type="text" id="email" class="form-control" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.email.errors }" />
            <div *ngIf="submitted && this.createForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.email.errors.required">
                    Email is required
                </div>
                <div *ngIf="this.createForm.controls.email.errors.email">
                    Email must be a valid email address
                </div>
            </div>
        </div>
<!--
        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" id="password" class="form-control" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.password.errors }" />
            <div *ngIf="submitted && this.createForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.password.errors.required">
                    Password is required
                </div>
                <div *ngIf="this.createForm.controls.password.errors.minlength">
                    Password must be at least 7 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confPassword" >Confirm Password :</label>
            <input type="password" id="confPassword" class="form-control" formControlName="confPassword"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.confPassword.errors }" />
            <div *ngIf="submitted && this.createForm.controls.confPassword.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.confPassword.errors.required">
                    Confirm Password is required
                </div>
                <div *ngIf="this.createForm.controls.confPassword.errors.CrossMatch">
                    Passwords must match
                </div>
            </div>
        </div>
    -->
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger nav-link" routerLink="/users">Annuler</button>
        <button type="submit" [disabled]="createForm.invalid" (click)="onCreateUser()" class="btn btn-primary mr-1">Create User</button>
      </div>
    </form>
</div>
