<!-- ##########  MODALS ########## -->

<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Task</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span class="font-weight-bold"> {{ task.name }}</span> ? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentDeleteFile let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete-file">Delete Task</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this file from task files ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentAddFile let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-add-file">Add a new file</h4>
    </div>
    <div class="modal-body">
        <input accept='image/*,application/pdf' type="file" class="form-control text-truncate" (change)="getFileInfo($event,'assoc');onSetFileToUpload($event)">
        <small *ngIf="isSizeFileOk() && isTypeFileOk()" class="text-muted">This file will be added as a manual.</small>
        <small *ngIf="!isSizeFileOk()" class="alert-danger">The size of the file must be under 10 Mo.</small>
        <small *ngIf="!isTypeFileOk()" class="alert-danger">The file must be an image or a PDF.</small>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" [disabled]="newFile === null || !isSizeFileOk()|| !isTypeFileOk() || fileUploadLoader" (click)="onUpdateTaskWithNewFile(); modal.close('OK')">
            <ng-spinner *ngIf="fileUploadLoader" ngbTooltip="A file is probably being upload !" placement="top" class="mx-1" size="1" type="border" color="light"></ng-spinner>
            <span *ngIf="!fileUploadLoader">Add</span>
        </button>
    </div>
</ng-template>

<ng-template #contentAddTeam let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-addUser">Add a team</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addTeamForm">
            <div class="form-group">
                <label for="teams">Teams</label>
                <ng-multiselect-dropdown
                    [settings]="dropdownTeamsSettings"
                    [data]="teamsDiff"
                    formControlName="teams"
                    name="teams"
                >
                </ng-multiselect-dropdown>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Add</button>
    </div>
</ng-template>

<ng-template #contentModify let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-modify">Modify Task</h4>
    </div>
    <div class="modal-body">
        <!-- <form [formGroup]="updateForm">
            Modification form
        </form> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Modify</button>
    </div>
</ng-template>

<!-- ########## PAGE ########## -->

<div class="container-fluid col-md-8 mt-3 justify-content-center" *ngIf="loaded">
    <div class="d-flex justify-content-between mt-md-4 mb-md-4">
        <div class="d-block">
            <div class="d-flex align-items-center">
                <a (click)="onPreviousPage()"
                   style="cursor:pointer;"
                   ngbTooltip="Previous page"
                   placement="bottom">
                    <fa-icon class="mr-3" [icon]="faChevronLeft"></fa-icon>
                </a>
                <h2 class="font-weight-bold m-0">{{ task?.name }}</h2>

            </div>
            <small class="text-muted">Created by <span class="font-weight-bold">{{task?.created_by?.first_name }} {{task?.created_by?.last_name }}</span></small>
        </div>
        <div class="d-flex btn-group" role="group">
            <button class="btn btn-danger" (click)="openDelete(contentDelete)" *ngIf="onDeleteTaskPermission() && !task.over"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
        </div>
    </div>
    <div class="container-fluid alert alert-success mt-3" role="alert" *ngIf="task.over">
        <p>This task has already been completed by <span class="font-weight-bold">{{ task?.achieved_by?.first_name }} {{ task?.achieved_by?.last_name }}</span> !</p>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="font-weight-bold">Task informations</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="px-2 py-1">
                    <p><span class="font-weight-bold">Description :</span></p>
                    <div class="input-group row col-md-6 col-sm-12">
                        <textarea class="form-control" [attr.disabled]="!inputEnabled.description ? '' : null" [(ngModel)]="task.description"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="inputEnabled.description" (click)="saveInput('description')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" *ngIf="!inputEnabled.description && !task.over" (click)="enableInput('description')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">End date :</span></p>
                    <div class="input-group row col-md-3">
                        <input class="form-control"
                               [placeholder]="task.end_date? task.end_date : ''"
                               ngbDatepicker
                               #datePicker="ngbDatepicker"
                               [(ngModel)]="date"
                               [disabled]="!inputEnabled.date ? '' : null">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="inputEnabled.date" (click)="saveInput('end_date')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" *ngIf="!inputEnabled.date && !task.over" (click)="datePicker.toggle(); enableInput('end_date')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">Duration :</span></p>
                    <div class="input-group row col-md-3" *ngIf="!inputEnabled.duration">
                        <input class="form-control" [(ngModel)]="task.duration" disabled>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" *ngIf="!task.over" (click)="enableInput('duration')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <div class="input-group row col-md-3" *ngIf="inputEnabled.duration">
                        <input class="form-control"
                            type="text"
                            placeholder="value"
                            ngbPopover="Examples : 1d5m, 3m 15d, 2y6m 15d"
                            placement="top"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="Info"
                            [pattern]="durationRegex.source"
                            #duration
                            [(ngModel)]=task.duration
                            [ngModelOptions]="{standalone: true}"
                            [ngClass]="{'alert-danger': duration.validity.patternMismatch}"
                            (ngModelChange)="onUpdateDurationValidity(duration)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="saveInput('duration')" [disabled]="durationError"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">Equipment(s) :</span></p>
                    <div class="input-group row col-md-4" *ngIf="!inputEnabled.equipment && task.equipment">
                        <input class="form-control" [(ngModel)]="task.equipment.name" disabled>
                        <div class="input-group-append" >
                            <button class="btn btn-outline-secondary" (click)="enableInput('equipment')" *ngIf="onChangeTaskPermission() && !task.over"><fa-icon [icon]="faPen"></fa-icon></button>
                            <button class="btn btn-info" (click)="onViewEquipment(task.equipment.id)" [disabled]="task.equipment==null"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
                        </div>
                    </div>
                    <div class="row col-md-4" *ngIf="task.equipment_type">
                        <div class="mb-md-2">
                            <span>All equipments of the following type.</span>
                        </div>
                        <div class="input-group flex-nowrap">
                            <div *ngIf="!inputEnabled.equipment_type">
                                <input class="form-control" [(ngModel)]="task.equipment_type.name" disabled>
                            </div>
                            <div class="input-group-append" *ngIf="!inputEnabled.equipment_type">
                                <button class="btn btn-outline-secondary" (click)="enableInput('equipment_type')" *ngIf="onChangeTaskPermission() && !task.over"><fa-icon [icon]="faPen"></fa-icon></button>
                                <button class="btn btn-info" (click)="onViewEquipmentType(task.equipment_type.id)" [disabled]="task.equipment_type==null"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                    <div class="input-group row col-md-4" *ngIf="inputEnabled.equipment">
                        <select class="form-control" [(ngModel)]="task.equipment.id">
                            <option *ngFor="let equipment of this.equipments" [value]="equipment.id" [defaultSelected]="task.equipment.id === equipment.id ? 'selected' : ''">{{ equipment.name }}</option>
                        </select> 
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="saveInput('equipment')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                    </div>
                    <div class="input-group row col-md-4" *ngIf="inputEnabled.equipment_type">
                        <select class="form-control" [(ngModel)]="task.equipment_type.id">
                            <option *ngFor="let equipment_type of this.equipment_types" [value]="equipment_type.id" [defaultSelected]="task.equipment_type.id === equipment_type.id ? 'selected' : ''">{{ equipment_type.name }}</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="saveInput('equipment_type')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                    </div>
                    <div class="mb-md-4">
                        <span *ngIf="task.equipment === null && task.equipment_type === null">No related equipment !</span>
                    </div>

                    <p>
                        <span class="font-weight-bold">Files associated :</span>
                        <span *ngIf="onChangeTaskPermission() && !task.over">
                            <a class="ml-3" style="cursor: pointer;" ngbTooltip="Add a new file" placement="right" (click)="openAddFile(contentAddFile)"><fa-icon [icon]="faPlusCircle" style="color: gray;"></fa-icon></a>
                        </span>
                    </p>
                    <div class="d-flex flex-wrap">
                        <ul class="list-group w-100">
                            <li
                                class="d-flex flex-wrap list-group-item"
                                *ngFor="let file of files; let i = index">
                                <div class="container-fluid row justify-content-left">
                                    <div class="mr-2" *ngIf="onChangeTaskPermission() && !task.over && file.is_manual">
                                        <a style="cursor: pointer;" ngbTooltip="Delete" placement="left" (click)="openDeleteFile(contentDeleteFile, file)">
                                            <fa-icon class="mr-3" [icon]="faMinusCircle" style="color: red;"></fa-icon>
                                        </a>
                                    </div>
                                    <div class="mr-2">
                                        <fa-icon [icon]="faCheck" *ngIf="!file.is_manual" style="color: green;"></fa-icon>
                                        <fa-icon [icon]="faBook" *ngIf="file.is_manual"></fa-icon>
                                    </div>
                                    <a class="text-truncate" style="padding-left: 0px;" href="{{ BASE_URL_API }}{{ file.fileLink }}" target="_blank">{{ file.fileName }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-md-4">
                        <span class="mb-2" *ngIf="files.length === 0">No related files !</span>
                    </div>

                    <p><span class="font-weight-bold">Trigger conditions :</span></p>
                    <ul class="col-12 list-group">
                        <li
                            class="container-fluid list-group-item"
                            *ngFor="let triggerCondition of task.trigger_conditions; let i = index"
                            >
                            <span><span class="font-weight-bold">{{ triggerCondition.field_name }}:</span> {{ triggerCondition.description }}</span><br>
                            <span class="text-muted">{{ triggerCondition.value }}</span>
                        </li>
                    </ul>
                    <div class="mb-md-4">
                        <span *ngIf="task.trigger_conditions.length === 0">No trigger conditions !</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="container-fluid card-header row align-items-center d-flex justify-content-between flex-wrap" style="margin: auto;">
            <div class="d-flex">
                <h3 class="font-weight-bold">Teams</h3>
            </div>
            <div class="d-flex">
                <a class="mr-2 my-2"
                   (click)="openAddTeam(contentAddTeam)"
                   *ngIf="onChangeTaskPermission() && onViewTeamsPermission() && !task.over"
                   style="cursor: pointer"
                   ngbTooltip="Add a team"
                   placement="top"
                >
                    <fa-icon class="fa-2x"
                             [icon]="faPlusSquare"
                             style="color: gray"
                    ></fa-icon>
                </a>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <ul class="list-group w-100" style="margin-bottom: auto;">
                <li
                    class="list-group-item font-weight-bold "
                    *ngFor="let team of task.teams"
                    >
                    <div class="container-fluid row d-flex flex-wrap justify-content-between align-items-center">
                        <h5 class="d-flex justify-content-start" style="margin-bottom: 0px; vertical-align: middle;" (click)="onViewTeam(team)">{{ team.name }}</h5>
                        <div class="d-flex justify-content-end align-items-center">
                            <a class="mr-3 my-2"
                               style="cursor:pointer;"
                               (click)="onViewTeam(team)"
                               ngbTooltip="Info"
                               placement="bottom"
                            ><fa-icon class="fa-lg"
                                      [icon]="faInfoCircle"
                                      style="color: gray"></fa-icon>
                            </a>
                            <a class="my-2"
                               style="cursor:pointer;"
                               (click)="onRemoveTeamFromTask(team)"
                               *ngIf="onChangeTaskPermission() && !task.over"
                               ngbTooltip="Delete"
                               placement="bottom"
                            ><fa-icon class="fa-lg"
                                      [icon]="faMinusCircle"
                                      style="color: #dc3545"></fa-icon>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="mb-md-3 mt-md-3 px-2 py-1" *ngIf="task.teams.length === 0">
                <span>No teams assigned !</span>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header d-flex">
            <div class="d-flex">
                <h3 class="font-weight-bold">Validation</h3>
            </div>
        </div>
        <div class="d-flex">
            <ul class="w-100 list-group ">
                <li
                    class="container-fluid list-group-item flex-wrap d-flex justify-content-between align-items-center"
                    *ngFor="let endCondition of task.end_conditions;"
                    >
                    <div class="col-md-10">
                        <span><span class="font-weight-bold">{{ endCondition.field_name }}:</span> {{ endCondition.description }}</span><br>
                        <!-- Checkbox -->
                        <div *ngIf="endCondition.field_name === 'Checkbox' && endCondition.value === null">
                            <label ngbButtonLabel>
                                <input class="form-control" type="checkbox" [(ngModel)]="endConditionValues[endCondition.id]" [ngModelOptions]="{standalone: true}" ngbButton> Check-me
                            </label>
                        </div>
                        <!-- Value -->
                        <div class="form-group" *ngIf="endCondition.field_name === 'Integer' && endCondition.value === null ">
                            <input class="form-control" type="number" [(ngModel)]="endConditionValues[endCondition.id]" [ngModelOptions]="{standalone: true}" placeholder="Related value">
                        </div>
                        <div class="form-group" *ngIf="endCondition.field_name === 'Integer' && endCondition.value !== null ">
                            {{ endCondition.value }}
                        </div>
                        <!-- Description -->
                        <div class="form-group" *ngIf="endCondition.field_name === 'Description' && endCondition.value === null">
                            <textarea class="form-control" [(ngModel)]="endConditionValues[endCondition.id]" [ngModelOptions]="{standalone: true}" placeholder="Your description ..."></textarea>
                        </div>
                        <div class="form-group" *ngIf="endCondition.field_name === 'Description' && endCondition.value !== null ">
                            {{ endCondition.value }}
                        </div>
                        <!-- Photo -->
                        <div class="form-group form-control-file" *ngIf="endCondition.field_name === 'Photo' && endCondition.value === null">
                            <div class="col-sm-12">
                                <input
                                        [(ngModel)]="endConditionValues[endCondition.id]"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control text-truncate"
                                        type="file"
                                        accept='image/*,application/pdf'
                                        [disabled]="!isSelectedFile(endCondition) && fileToUpload.length > 0"
                                        (change)="onSetPhotoToUpload(endCondition, $event);getFileInfo($event,'valid')"
                                >
                            </div>
                        </div>
                        <div class="form-group" *ngIf="endCondition.field_name === 'Photo' && endCondition.value !== null ">
                            <a class="mr-2" href="{{ BASE_URL_API }}{{ '/' +endCondition.value.split('/')[2] + '/' + endCondition.value.split('/')[3] }}" target="_blank">See the photo</a>
                        </div>
                        <small *ngIf="!fileTypeCheckValid" class="alert-danger">The file must be an image or a PDF.</small>
                        <small *ngIf="!fileCheckValid" class="alert-danger"> The size of the file must be under 10 Mo.</small>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-dark" 
                                (click)="onValidateEndCondition(endCondition)" 
                                *ngIf="endCondition.value === null && isAValidValue(endCondition) && fileCheckValid && fileTypeCheckValid">
                            <fa-icon *ngIf="!fileUploadLoader" [icon]="faCheck"></fa-icon>
                        </button>
                        <ng-spinner *ngIf="photoUploadLoader !== null && photoUploadLoader === endCondition.id" ngbTooltip="A file is probably being upload !" placement="top" class="mx-1" size="1" type="border" color="dark"></ng-spinner>
                        <fa-icon [icon]="faCheckCircle" size="lg" style="color: green;" *ngIf="endCondition.value !== null"></fa-icon>

                    </div>
                    
                </li>
                
            </ul>
            <div class="container-fluid alert alert-danger mt-3" role="alert" *ngIf="validationError">
                <p class="font-weight-bold">Error when validating the task :</p>
                <p>Check that you have filled all the conditions above !</p>
            </div>
        </div>
    </div>


</div>
