<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">You are the first user !</span>
                <div class="mb-4 lead">You will be the administrator of the application. Please sign up to access OpenCMMS !</div>
                <button class="btn btn-primary" (click)="onSignUp()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
