<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="d-flex">
      <h2 class="font-weight-bold">Create a new equipment type</h2>
    </div>

    <form [formGroup]="equipmentTypeForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class='form-control' formControlName="name">
      </div>
      <div class="form-group">
        <label>Fields</label>
        <br>
        <button class="btn btn-outline-secondary" (click)="onOpenField()">
          <span class="mr-3">Add Field</span>
          <fa-icon [icon]="faPlusSquare"></fa-icon>
        </button>
      </div>
      <form [formGroup]="fieldForm" (ngSubmit)="onSubmitField()">
        <div class="form-group" *ngIf='openField'>
          <div class="form-row">
            <button class="btn btn-danger mr-3" (click)="onCloseField()" [disabled]='!isEmpty(fields)'>
              <fa-icon [icon]="faMinusCircle"></fa-icon>
            </button>
            <input 
              type="text" 
              placeholder="Field name"
              class='form-control' 
              formControlName="fieldName"
              class="col-3 mr-3">
              <input 
              type="text" 
              placeholder="Field value"
              class='form-control' 
              formControlName="fieldValue"
              class="col-3 mr-3">
            <button 
            class="btn btn-primary"
            (click)="onAddField()"
            [disabled]="fieldForm.invalid">
              Add
            </button>
          </div>
        </div>
        <div class="form-group" *ngFor="let field of fields | keyvalue">
          <div class="form-row">
            <button class="btn btn-danger mr-3"
              (click)="deleteField(field.key)"
            >
              <fa-icon [icon]="faMinusCircle"></fa-icon>
            </button>
            <input 
            type="text" 
            class='form-control' 
            value="{{field.key}}"
            class="col-3 mr-3"
            disabled="disabled">
            <input 
            type="text" 
            class='form-control' 
            value="{{field.value}}"
            class="col-3 mr-3"
            disabled="disabled"
            > 
          </div>
        </div>
      </form>
      

<!--          <div class="input-group-append" *ngIf="triggerCondition.selectedTriggerCondition[0] && triggerCondition.selectedTriggerCondition[0].value === 'Date'">-->
<!--            <input placeholder="yyyy-mm-dd"-->
<!--                   name="dateTriggerCondition"-->
<!--                   ngbDatepicker-->
<!--                   #datePicker="ngbDatepicker"-->
<!--                   [(ngModel)]=triggerCondition.value-->
<!--                   [ngModelOptions]="{standalone: true}"-->
<!--            />-->
<!--            <button class="btn btn-outline-secondary" (click)="datePicker.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>-->


         <!-- </div>
        </div> -->
      <!-- </div> -->
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger nav-link" routerLink="/equipment-types">Annuler</button>
        <button class="btn btn-primary" type="submit" [disabled]="equipmentTypeForm.invalid">Save</button>
      </div>
    </form>
  </div>
