<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Team</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this team ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentAddTeam let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-addUser">Add a team</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addTeamForm">
            <div class="form-group">
                <label for="teams">Teams</label>
                <ng-multiselect-dropdown
                    [settings]="dropdownTeamsSettings"
                    [data]="teamsDiff"
                    formControlName="teams"
                    name="teams"
                >
                </ng-multiselect-dropdown>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Add</button>
    </div>
</ng-template>

<ng-template #contentModify let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-modify">Modifiy Task</h4>
    </div>
    <div class="modal-body">
        <!-- <form [formGroup]="updateForm">
            Modification form
        </form> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Modify</button>
    </div>
</ng-template>

<div class="container-fluid col-10 mt-3 justify-content-center" *ngIf="loaded">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <h2 class="font-weight-bold">{{ task.name }}</h2>
        </div>
        <div class="d-flex btn-group" role="group">
            <!-- <button class="btn btn-secondary" (click)="openModify(contentModify)" *ngIf="onChangeTaskPermission()"><fa-icon [icon]="faPencilAlt"></fa-icon> Modify</button>-->
            <button class="btn btn-danger" (click)="openDelete(contentDelete)" *ngIf="onDeleteTaskPermission()"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
        </div>
    </div>
    <div class="container-fluid alert alert-success mt-3" role="alert" *ngIf="task.over">
        <p class="font-weight-bold">This task has already been completed !</p>
    </div> 
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="font-weight-bold"> Task info : </h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="px-2 py-1">
                    <p><span class="font-weight-bold">Description :</span></p>
                    <div class="input-group row col-6">
                        <textarea class="form-control" [attr.disabled]="!descriptionInputEnabled ? '' : null" [(ngModel)]="description"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="descriptionInputEnabled" (click)="saveInput('description')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" *ngIf="!descriptionInputEnabled" (click)="enableInput('description')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">End date :</span></p>
                    <div class="input-group row col-2">
                        <input class="form-control"
                                ngbDatepicker #datePicker="ngbDatepicker" [(ngModel)]="date" [disabled]="!dateInputEnabled ? '' : null">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="dateInputEnabled" (click)="saveInput('end_date')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" *ngIf="!dateInputEnabled" (click)="datePicker.toggle(); enableInput('end_date')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">Duration :</span></p>
                    <div class="input-group row col-3" *ngIf="!durationInputEnabled">
                        <input class="form-control" [(ngModel)]="taskDuration" disabled>
                        <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                            <button class="btn btn-outline-secondary" (click)="enableInput('duration')"><fa-icon [icon]="faPen"></fa-icon></button>
                        </div>
                    </div>
                    <div class="input-group row col-3" *ngIf="durationInputEnabled">
                        <input class="form-control col-2 text-center" [(ngModel)]="durationDays">
                        <div class="input-group-append">
                            <span class="input-group-text">days</span>
                        </div>

                        <ngb-timepicker class="form-control" [(ngModel)]="durationTime" [minuteStep]="5"></ngb-timepicker>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="saveInput('duration')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                    </div>
                    <br>
                    <p><span class="font-weight-bold">Equipment :</span></p>
                    <div class="input-group row col-4" *ngIf="!equipmentInputEnabled">
                        <input class="form-control" [(ngModel)]="equipmentName" disabled>
                        <div class="input-group-append" >
                            <button class="btn btn-outline-secondary" (click)="enableInput('equipment')" *ngIf="onChangeTaskPermission()"><fa-icon [icon]="faPen"></fa-icon></button>
                            <button class="btn btn-info" (click)="onViewEquipment(task.equipment)"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
                        </div>
                    </div>
                    <div class="input-group row col-4" *ngIf="equipmentInputEnabled">
                        <ng-multiselect-dropdown
                            [settings]="dropdownEquipmentsSettings"
                            [(ngModel)]="selectedEquipment"
                            [data]="equipmentsList"
                            name="equipment"
                            class="form-control"
                        >
                        </ng-multiselect-dropdown>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="saveInput('equipment')"><fa-icon [icon]="faSave"></fa-icon></button>
                        </div>
                    </div>
                    <br>

                    <p><span class="font-weight-bold">Files associated :</span></p>
                    <ul class="col-12 list-group">
                        <li
                            class="container-fluid list-group-item"
                            *ngFor="let file of files; let i = index"
                            >
                            <a class="mr-2" href="{{ BASE_URL_API }}{{ file.fileLink }}" target="_blank">{{ file.fileName }}</a><fa-icon [icon]="faCheck" *ngIf="!file.is_manual" style="color: green;"></fa-icon><fa-icon [icon]="faBook" *ngIf="file.is_manual"></fa-icon>
                        </li>
                    </ul>
                    <span *ngIf="files.length === 0">No related files !</span>
                    <br>

                    <p><span class="font-weight-bold">Trigger conditions :</span></p>
                    <ul class="col-12 list-group">
                        <li
                            class="container-fluid list-group-item"
                            *ngFor="let triggerCondition of triggerConditions; let i = index"
                            >
                            <span><span class="font-weight-bold">{{ triggerCondition.type }}:</span> {{ triggerCondition.description }}</span><br>
                            <span class="text-muted">{{ triggerCondition.value }}</span>
                        </li>
                    </ul>
                    <span *ngIf="triggerConditions.length === 0">No trigger conditions !</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Teams : </h3>
            </div>
            <div class="d-flex">
                <button class="d-flex btn btn-secondary" (click)="openAddTeam(contentAddTeam)" *ngIf="onChangeTaskPermission() && onViewTeamsPermission()"><fa-icon [icon]="faPlusSquare" size="2x"></fa-icon></button>
            </div>
        </div>
        <div class="card-body d-flex row">
            <ul class="col-12 list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let team of teamsTask; let i = index"
                    >
                    <div class="container-fluid row justify-content-between">
                        <h5 style="margin-bottom: 0px; vertical-align: middle;" (click)="onViewTeam(team)">{{ team.name }}</h5>
                        <div>
                            <button class="btn btn-info" (click)="onViewTeam(team)"><fa-icon [icon]="faInfoCircle" size="2x"></fa-icon></button>
                            <button class="btn btn-danger" (click)="onRemoveTeamFromTask(team)" *ngIf="onChangeTaskPermission()"><fa-icon [icon]="faMinusSquare" size="2x"></fa-icon></button>
                        </div>
                    </div>
                </li>
            </ul>
            <span *ngIf="teamsTask.length === 0">No teams assigned !</span>
        </div>
    </div>

    <div class="card mt-5" *ngIf="!task.over">
        <div class="card-header">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Validation : </h3>
            </div>
        </div>
        <div class="card-body d-flex row">
            <form class="col-12">
                <ul class="col-12 list-group">
                    <li
                        class="container-fluid col-12 list-group-item"
                        *ngFor="let endCondition of endConditions; let i = index"
                        >
                        <span><span class="font-weight-bold">{{ endCondition.type }}:</span> {{ endCondition.description }}</span><br>
                        <!-- Checkbox -->
                        <div class="form-group" *ngIf="endCondition.type === 'Case a cocher'">
                            <label ngbButtonLabel>
                              <input type="checkbox" [(ngModel)]="endConditionValues[i]" [ngModelOptions]="{standalone: true}" ngbButton> Check-me
                            </label>
                        </div>
                        <!-- Value -->
                        <div class="form-group" *ngIf="endCondition.type === 'Valeur numerique à rentrer'">
                            <input type="number" [(ngModel)]="endConditionValues[i]" [ngModelOptions]="{standalone: true}" placeholder="Realted value">
                        </div>
                        <!-- Description -->
                        <div class="form-group" *ngIf="endCondition.type === 'Description'">
                            <textarea [(ngModel)]="endConditionValues[i]" [ngModelOptions]="{standalone: true}" cols="50" placeholder="Your description ..."></textarea>
                        </div>
                        <!-- Photo -->
                        <div class="form-group" *ngIf="endCondition.type === 'Photo'">
                            <input [(ngModel)]="endConditionValues[i]" [ngModelOptions]="{standalone: true}" type="file" class="form-control" (change)="onSetPhotoToUpload(i, $event)">
                        </div>
                    </li>
                </ul>
                <span *ngIf="endConditions.length === 0">No end conditions !</span>
                <button class="btn btn-success my-2" (click)="onValidateTask()">Validate the task</button>
            </form>
            <div class="container-fluid alert alert-danger mt-3" role="alert" *ngIf="validationError">
                <p class="font-weight-bold">Error when validating the task :</p>
                <p>Check that you have filled all the conditions above !</p>
            </div> 
        </div>
    </div>

    
</div>