<nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleFooter">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleFooter">
    <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active">
        <a class="nav-link" routerLink="#">About</a>
        </li>
        <li routerLinkActive="active">
        <a class="nav-link" routerLink="#">Contact</a>
        </li>
    </ul>
    </div>
</nav>