<div class="container-fluid col-md-5 mt-3 justify-content-center">
    <div class="d-flex flex-wrap">
      <h2 class="font-weight-bold">Create a new equipment type</h2>
    </div>
    <form [formGroup]="equipmentTypeForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class='form-control' formControlName="name" id="name">
      </div>
      <div class="form-group">
        <label>Fields</label>
        <br>
        <button class="btn btn-outline-secondary" type="button" (click)="onAddField()">
          <span class="mr-3">Create a new field</span>
          <fa-icon [icon]="faPlusSquare"></fa-icon>
        </button>
      </div>
      <div class="form-group" *ngFor="let field of fields; let i = index">
        <div class="d-flex flex-wrap form-row">
          <button class="btn btn-link my-1" ngbTooltip="Delete"
                  placement="bottom" (click)="deleteField(i)">
            <fa-icon [icon]="faMinusCircle" style="color: red; font-size:22px;"></fa-icon>
          </button>
          <input type="text"
                 placeholder="Field name"
                 class="form-control col-md-5 mr-md-2 my-1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="field.name"
          >
          <input type="text"
                 placeholder="Field value"
                 class="form-control col-md-5 mr-md-2 my-1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]=field.value
          >
          <fa-icon class="d-flex align-items-center"
                   [icon]="faCheck"
                   style="color: green;"
                   *ngIf="canValidateLine(field)"
                   ngbTooltip="This field is completed"
                   placement="bottom"
          ></fa-icon>
          <fa-icon class="d-flex align-items-center"
                   [icon]="faTimes"
                   style="color: red;"
                   *ngIf="!canValidateLine(field)"
                   ngbTooltip="This field is not completed"
                   placement="bottom"
          ></fa-icon>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger nav-link" routerLink="/equipment-types">Cancel</button>
        <button
          class="btn btn-primary"
          type="submit"
          title="Name required and fields should not be in edition mode"
          [disabled]="equipmentTypeForm.invalid || !(canValidateForm())"
        >
          Create Equipment Type
        </button>
      </div>
    </form>
  </div>
