<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Team</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span class="font-weight-bold"> {{ modalTeamName }}</span> ? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<div class="container-fluid col-md-12" style="padding: 0px;">
    <div class="list-group">
        <ul class="list-group">
            <li
                class="container-fluid list-group-item font-weight-bold "
                *ngFor="let team of teams; let i = index"
                >
                <div class="d-flex container-fluid row flex-wrap justify-content-between align-items-center">
                    <h5 class="col-sm-8" (click)="onViewTeam(team)">{{ team.name }}</h5>
                    <div>
                        <a class="mr-3 my-2"
                           style="cursor: pointer"
                           (click)="onViewTeam(team)"
                           ngbTooltip="Info"
                           placement="bottom"
                        >
                            <fa-icon class="fa-lg"
                                    [icon]="faInfoCircle"
                                    style="color: gray"></fa-icon>
                        </a>
                        <a class="my-2"
                           style="cursor: pointer"
                           (click)="openDelete(contentDelete, team)"
                           *ngIf="onDeleteTeamPermission()"
                           ngbTooltip="Delete"
                           placement="bottom"
                        >
                            <fa-icon class="fa-lg"
                                    [icon]="faTrash"
                                    style="color: #dc3545"></fa-icon>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
