<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">Your account has been blocked :(</span>
                <div class="mb-4 lead">You must have entered a wrong password 3 times in a row.</div>
                <div class="mb-4 lead">Check your mailbox and click on the link that will be sent to you to reset your password and unblock your account.</div>
            </div>
        </div>
    </div>
</div>
