<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Equipments</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Equipment ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentDeleteFile let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-deleteFile">Delete File</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this File ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentDeleteField let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-deleteField">Delete Field</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Field ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<ng-template #contentModify let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-modify">Modify Equipment</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form" [formGroup]="equipmentUpdateForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Modify</button>
    </div>
</ng-template>

<ng-template #contentAddFile let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-addFile">Add File</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form" [formGroup]="equipmentUpdateForm">
                <div class="form-group">
                    <label for="files">Files</label>
                    <input type="file" id="files" class="form-control" (change)="onFileUpload($event)">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Add</button>
    </div>
</ng-template>

<ng-template #contentAddField let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-addField">Add Field</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary">
                  <span style="margin-right: 10px">Create a new field</span>
                  <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('OK')">Add</button>
    </div>
</ng-template>
<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <h2 class="font-weight-bold" *ngIf="loaded">Equipment : {{currentEquipment.name}}</h2>
        </div>
        <div class="d-flex btn-group" role="group">
            <button class="btn btn-danger" (click)="openDelete(contentDelete)" *ngIf="onDeleteEquipmentPermission()"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
        </div>
    </div>

    <div class="card mt-5">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <h3 class="font-weight-bold"> Equipment info : </h3>
        </div>
        <div class="d-flex">
          <label for="files"></label>
          <button class="d-flex btn btn-secondary" (click)="openModifyName(contentModify)" *ngIf="onChangeEquipmentPermission()"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="px-2 py-1">
                  <p *ngIf="loaded"><span class="font-weight-bold">Name :</span> {{ currentEquipment.name }} <p>
              </div>
          </div>
      </div>
    </div>
  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between">
      <h3 class="font-weight-bold">Fields : </h3>
      <button class="d-flex btn btn-secondary" (click)="openModifyField()" *ngIf="onChangeEquipmentPermission() &&  (!(modifyFields) && !(equipmentTypeModified))"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
      <button class="d-flex btn btn-secondary"  [disabled]="missingEquipmentTypeFieldsValue()" (click)="saveFields()" *ngIf="onChangeEquipmentPermission() && (modifyFields || equipmentTypeModified)"><fa-icon [icon]="faSave"></fa-icon></button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="px-2 py-1">
          <p *ngIf="loaded && !(modifyFields)"><span class="font-weight-bold" >Equipment type :</span> {{ equipmentTypeName }} </p>
            <label for="type"  class="font-weight-bold" *ngIf="modifyFields">Equipment type </label>
            <select id="type" class="form-control" *ngIf="modifyFields" (change)="initEquipmentTypeFields($event.target.value)">
              <option disabled selected value> {{ equipmentTypeName}} </option>
              <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.id" placeholder="value">{{ equipmentType.name }}</option>
            </select>
        </div>
      </div>
    </div>
    <div class="card-body d-flex row" *ngIf="!(equipmentTypeModified)">
      <ul class="col-12 list-group">
        <div class="container-fluid row">
          <p style="width: 270px"><span class="font-weight-bold">Name</span></p>
          <p style="width: 270px"><span class="font-weight-bold">Value</span></p>
          <p style="width: 270px"><span class="font-weight-bold">Description</span></p>
        </div>
        <li
          class="list-group-item font-weight"
          *ngFor="let field of fields; let i = index;"
          (change)="modifyEquipmentTypeFieldValue($event.target, i)"
          >
          <div class="row container-fluid">
            <p style="width: 270px"><span class="font-weight-bold">{{ field.field_name }}</span></p>
            <p style="width: 270px" *ngIf="field.value.length > 0">
              <span *ngIf="((field.value.length > 0) && !(modifyFields))">{{ field.value }}</span>
              <input id='fieldValueText' type="text" placeholder="value" *ngIf="(!(field.field_value) && modifyFields)" [(ngModel)]=field.value>
            </p>
            <p style="width: 270px" *ngIf="field.field_value">
              <span *ngIf="(field.field_value && !(modifyFields))">{{ field.field_value.value}}</span>
              <select id='fieldValueSelect' class="form-control" *ngIf="(field.field_value && modifyFields)" (click)="getFieldsEquipmentTypes(field.field)">
                <option disabled selected value> {{ field.field_value.value}} </option>
                <option *ngFor="let fieldValue of currentSelectFields" [value]="fieldValue" placeholder="value">{{ fieldValue }}</option>
              </select>
            </p>
            <p style="width: 270px" *ngIf="field.description"><span *ngIf="field.description">{{ field.description}}</span></p>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="equipmentTypeModified">
      <div class="list-group-item" *ngFor="let field of equipmentTypeFields; let i = index" (change)="modifyNewEquipmentTypeFieldValue($event.target, i)">
        <div class="input-group-append form-group" style="margin-bottom: 10px">
          <p style="width: 270px"><span class="col-3" style="margin-right: 10px;">{{ field.name }}</span></p>
          <input id="field-value-text" type="text" placeholder="value" style="margin-right: 10px;width: 350px;" *ngIf="field.value.length === 0" >
          <select id="field-value-select" class="form-control" style="margin-right: 10px;width: 350px;" *ngIf="field.value.length !== 0">
            <option disabled selected value> -- select an option -- </option>
            <option *ngFor="let fieldValue of field.value" [value]="fieldValue" placeholder="value">{{ fieldValue }}</option>
          </select>
          <input id="field-description" type="text" placeholder="description" style="width: 900px;">
        </div>
      </div>
      <div class="form-group list-group-item">
        <button type="button" class="btn btn-outline-secondary" (click)="addField()">
          <span style="margin-right: 10px">Create a new field</span>
          <fa-icon [icon]="faPlusSquare"></fa-icon>
        </button>
      </div>
      <div class="form-group list-group-item" *ngFor="let new_field of new_fields; let i = index">
        <div class="form-row">
          <button class="btn btn-danger" type="button" style="margin-right: 10px;" (click)="deleteField(i)">
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </button>
          <input type="text" placeholder="name" style="margin-right: 10px; width: 185px" [ngModelOptions]="{standalone: true}" [(ngModel)]=new_field.name>
          <input type="text" placeholder="value" style="margin-right: 10px; width: 350px;" [ngModelOptions]="{standalone: true}" [(ngModel)]=new_field.value>
          <input type="text" placeholder="description" style="width: 850px;" [ngModelOptions]="{standalone: true}" [(ngModel)]=new_field.description>
        </div>
      </div>
    </div>
  </div>
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Files : </h3>
            </div>
            <div class="d-flex">
                <label for="files"></label>
                <button class="d-flex btn btn-secondary" (click)="openUploadFile(contentAddFile)" *ngIf="onChangeEquipmentPermission()"><fa-icon [icon]="faPlusSquare" size="2x"></fa-icon></button>
            </div>
        </div>
        <div class="card-body d-flex row">
            <ul class="col-12 list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let filePath of myFilesPath"
                    >
                    <div class="container-fluid row justify-content-between">
                        <a style="margin-bottom: 0px; vertical-align: middle;" [href] ="createDownloadLink(filePath)">{{filePath}}</a>
                        <button class="btn btn-danger" (click)="openDeleteFile(filePath,contentDeleteFile)" *ngIf="onChangeEquipmentPermission()"><fa-icon [icon]="faMinusSquare" size="2x"></fa-icon></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

