<div class="container-fluid col-5 mt-3 justify-content-center" style="margin-bottom: 100px">
    <div class="d-flex my-5">
        <h2 class="font-weight-bold">Create a new data provider</h2>
    </div>
        <form>
        <div class="form-group">
            <label for="name">Data Provider Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="fileName">Data Provider file name</label>
            <select id="fileName" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="equipment">Equipment</label>
            <select id="equipment" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="equipment_ip">Equipment IP</label>
            <input type="text" class="form-control" id="equipment_ip">
        </div>
        <div class="form-group">
            <label for="field">Field</label>
            <select id="field" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="Recurrence">Recurrence</label>
            <input type="text" placeholder="regex à mettre" class="form-control" id="equipment_ip">
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">Test</button>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <button class="btn btn-danger nav-link" routerLink="/data-providers">Cancel</button>
            <div class="d-flex align-items-center">
                <div class="activated"> Activated </div>
                <div class="deactivated"> Deactivated </div>
                <label class="switch mx-2">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <button type="submit" class="btn btn-primary" >Create Data Provider</button>
            </div>
        </div>
    </form>
</div>