<div class="container-fluid col-12" style="padding: 0px;">
    <div class="list-group">
        <ul class="list-group">
            <li
                class="container-fluid list-group-item font-weight-bold"
                *ngFor="let dataProvider of dataProviders; let i = index"
                >
                <div class="container-fluid row justify-content-between">
                    <h5>{{ dataProvider.name }}</h5>
                    <div class="d-flex">
                        <label class="switch mx-2">
                          <input type="checkbox"
                                 id="activated"
                                 name="activated"
                                 class="form-control"
                                 [(ngModel)]="dataProvider.is_activated"
                                 (click)="onActivate(dataProvider.id, dataProvider)"
                          >
                          <span class="slider round"></span>
                        </label>
                        <button class="btn btn-info mx-2" (click)="onViewDataProvider(i)"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
