<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center mb-md-4">
            <div class="col-md-12 text-center">
                <span class="display-4 d-block">Set your password</span>
            </div>
        </div>
        <form [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()">
            <div class="row justify-content-center">
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" id="password" class="form-control" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && this.setPasswordForm.controls.password.errors }" />
                    <div *ngIf="submitted && this.setPasswordForm.controls.password.errors" class="invalid-feedback">
                        <div *ngIf="this.setPasswordForm.controls.password.errors.required">
                            Password is required
                        </div>
                        <div *ngIf="this.setPasswordForm.controls.password.errors.minlength">
                            Password must be at least 7 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group">
                    <label for="confPassword" >Confirm Password :</label>
                    <input type="password" id="confPassword" class="form-control" formControlName="confPassword"
                    [ngClass]="{ 'is-invalid': submitted && this.setPasswordForm.controls.confPassword.errors }" />
                    <div *ngIf="submitted && this.setPasswordForm.controls.confPassword.errors" class="invalid-feedback">
                        <div *ngIf="this.setPasswordForm.controls.confPassword.errors.required">
                            Confirm Password is required
                        </div>
                        <div *ngIf="this.setPasswordForm.controls.confPassword.errors.CrossMatch">
                            Passwords must match
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary mr-1">Set password</button>
            </div>
        </form>
    </div>
</div>