<div class="container-fluid justify-content-center col-md-8 col-sm-6 mt-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-md-4 mb-md-4">
        <h3 class="font-weight-bold">DataProviders Management</h3>
      <div class="my-3">
          <button class="btn btn-primary"
                  (click)="onCreateDataProvider()"
          ><fa-icon [icon]="faPlus"></fa-icon> Create new Data Provider</button>
        <!-- <button class="btn btn-primary" (click)="onCreateEquipmentType()" *ngIf="onAddEquipmentTypePermission()"><fa-icon [icon]="faPlus"></fa-icon> Create new equipment type</button> -->
      </div>
    </div>
    <app-data-provider-list></app-data-provider-list>
</div>
