<div class="row my-3">
    <div class="col-12">
      <h2>Créer un nouveau type d'équipe : </h2>
      <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-team">
        <mat-form-field appearance="fill"  class="form-field-fill">
          <mat-label>Team type name</mat-label>
          <input matInput id="name" class="form-control" name="name" ngModel required class="form-field">
        </mat-form-field>
      </div>
      <div class="form-team">
        <mat-form-field appearance="fill" class="form-field-fill">
          <mat-label>Permissions</mat-label>
          <mat-select multiple required name='rights' ngModel class="form-field">
            <mat-option 
              class="list-rights-item"
              *ngFor="let right of rights"
              value= "{{ right.codename }}">{{ right.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-team">
        <mat-form-field appearance="fill" class="form-field-fill">
          <mat-label>Teams</mat-label>
          <mat-select multiple required name='teams' ngModel class="form-field">
            <mat-option 
              class="list-teams-item"
              *ngFor="let team of teams"
              value= "{{ team.name }}">{{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
</div>
