<ng-template #contentAddField let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-modify">Add a field </h4>
  </div>
  <div class="modal-body">
    <div class="col-sm-8 col-sm-offset-2">
      <form class="form" [formGroup]="addFieldForm">
        <div class="form-group">
          <label for="new-field-name">Name*</label>
          <input type="text" id="new-field-name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="new-field-value">Value*</label>
          <input type="text" id="new-field-value" class="form-control" formControlName="value">
        </div>
        <div class="form-group">
          <label for="new-field-description">Description</label>
          <input type="text" id="new-field-description" class="form-control" formControlName="description">
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close('OK')">Add</button>
  </div>
</ng-template>




<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="d-flex">
        <h2 class="font-weight-bold">Create a new Equipment</h2>
    </div>
    <form [formGroup]="createForm" (ngSubmit)="onCreateEquipment()">
        <div class="form-group">
            <label for="name">Equipment Name </label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="teamType">Equipment Type </label>
            <select id="teamType" class="form-control" formControlName="equipmentType">
                    <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.id">{{ equipmentType.name }}</option>
            </select>
        </div>
      <div class="list-group">
        <ul class="list-group">
<!--          <li class="container-fluid list-group-item" *ngFor="let equipment-type-field of equipmentTypes.fields; let i = index">-->
          <li class="container-fluid list-group-item">
            <p><span class="font-weight-bold">Name</span></p>
<!--            <p><span class="font-weight-bold">{{ equipment-type-field.name }}</span></p>-->
              <label for="field-value">Value</label>
              <!--            <input type="text" id="field-value" *ngIf="!equipment-type-field.field_value" class="form-control">-->
<!--            <select id="field-value" class="form-control" *ngIf="equipment-type-field.field_value">-->
<!--              <option *ngFor="let fieldValue of equipment-type-field.field_value" [value]="fieldValue.id">{{ fieldValue.name}}</option>-->
<!--            </select>-->
              <select id="field-value" class="form-control">
                <option value="Value"></option>
              </select>
              <label for="field-description">Description</label>
              <textarea id="field-description" class="form-control" ></textarea>
<!--              <textarea id="field-description" class="form-control" formControlName="field-description"></textarea>-->
          </li>
        </ul>
        <div class="my-2">
          <button class="btn btn-secondary" (click)="openAddField(contentAddField)">Create new field</button>
        </div>
      </div>
        <div class="form-group">
            <label for="file">Upload File</label>
            <input formControlName="file" id="file" type="file" multiple class="form-control" (change)="onFileUpload($event)">
        </div>
        <div class="list-group">
            <ul class="list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let file of myFiles;"
                    >
                    <div class="container-fluid row justify-content-between">
                        <h5 style="margin-bottom: 0px; vertical-align: middle;">{{ file.name }}</h5>
                        <button class="btn btn-danger" (click)="onRemoveFile(file)"><fa-icon [icon]="faMinusSquare" size="2x"></fa-icon></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-danger nav-link" routerLink="/equipments">Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Create Equipment</button>
        </div>
    </form>
</div>
