<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="d-flex">
        <h2 class="font-weight-bold">Create a new Equipment</h2>
    </div>
    <form [formGroup]="createForm" (ngSubmit)="onCreateEquipment()">
        <div class="form-group">
            <label for="name">Equipment Name </label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="teamType">Equipment Type </label>
            <select id="teamType" class="form-control" formControlName="equipmentType">
                    <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.id">{{ equipmentType.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="file">Upload File</label>
            <input formControlName="file" id="file" type="file" multiple class="form-control" (change)="onFileChange($event)">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Create Equipment</button>
    </form>
</div>
