<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Template</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this template ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>
<div class="container-fluid justify-content-center col-md-8 mt-3 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-md-4 mb-md-4">
        <h3 class="font-weight-bold">Templates Management</h3>
        <div class="my-3" *ngIf="onAddTemplatePermission()">
          <button class="btn btn-primary" (click)="onCreateTemplate()"><fa-icon [icon]="faPlus"></fa-icon> Create new template</button>
        </div>
    </div>
    <div class="container-fluid col-md-12" style="padding: 0px;">
        <div class="list-group">
            <ul class="list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let template of templates; let i = index"
                    >
                    <div class="container-fluid row d-flex flex-wrap justify-content-between align-items-center">
                        <h5 class="col-sm-8" style="padding-left: 0px;">{{ template.name }}</h5>
                        <div class="my-1">
                            <a class="my-2"
                               style="cursor:pointer;"
                               (click)="openDelete(contentDelete, template)"
                               *ngIf="onDeleteTeamPermission()"
                               ngbTooltip="Delete"
                               placement="bottom"
                            >
                                <fa-icon class="fa-lg"
                                        [icon]="faTrash"
                                        style="color: #dc3545"></fa-icon>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
