n<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete TeamType</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this team type ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</ng-template>

<ng-template #contentModify let-modal>
    <form [formGroup]="teamTypeUpdateForm" (ngSubmit)="modifyTeamType()" >
        <div class="modal-header">
            <h4 class="modal-title" id="modal-modify">Modifiy TeamType</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class='form-control' formControlName="teamTypeName" id="teamTypeName">
            </div>
            <!-- <div class="form-group">
            <label for="permissions">Permissions</label>
            <ng-multiselect-dropdown
                id="permissions"
                [settings]="dropdownPermsSettings"
                [data]="permsList"
                [(ngModel)]="selectedPerms"
                formControlName="permissions"
                name="permissions"
            >
            </ng-multiselect-dropdown>
            </div>
            <div class="form-group">
            <label for="teams">Équipes</label>
            <ng-multiselect-dropdown
                [settings]="dropdownTeamsSettings"
                [data]="teamsList"
                [(ngModel)]="selectedTeams"
                formControlName="teams"
                name="teams"
            >
            </ng-multiselect-dropdown>
            </div> -->        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
            <button type="button" class="btn btn-success" [disabled]="teamTypeUpdateForm.invalid" type="submit">Modify</button>
        </div>
    </form>
</ng-template>

<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <h2 class="font-weight-bold" *ngIf="loaded">Team Type {{ name }}</h2>
        </div>
        <div class="d-flex btn-group" role="group">
            <button class="btn btn-danger" (click)="openDelete(contentDelete)" *ngIf="onDeleteTeamTypesPermission()"><fa-icon [icon]=""></fa-icon> Delete</button>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Team type info : </h3>
            </div>
            <div class="d-flex">
                <label for="files"></label>
                <button class="d-flex btn btn-secondary" (click)="openModify(contentModify)" *ngIf="onChangeTeamTypesPermission()"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="px-2 py-1">
                    <p *ngIf="loaded"><span class="font-weight-bold">Team Type Name  :</span> {{ name }} <p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Teams : </h3>
            </div>
        </div>
        <div class="d-flex">
            <ul class="list-group w-100">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let team of teams; let i = index">
                    <div class="container-fluid row justify-content-between">
                        <h5 (click)="onViewTeam(team)">{{ team.name }}</h5>
                        <div class="d-flex">
                            <button class="btn btn-info" (click)="onViewTeam(team)"><fa-icon [icon]="faPencilAlt"></fa-icon> Modify</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Permissions : </h3>
            </div>
        </div>
        <div class="d-flex">
            <ul class="w-100 list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let perm of perms; let i = index">
                    <div class="container-fluid row justify-content-between">
                        <h5 style="margin-bottom: 0px; vertical-align: middle;">{{ perm.name }}</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

