<div class="container-fluid col-md-5 mt-3 justify-content-center">
    <div class="d-flex flex-wrap justify-content-between mt-md-4 mb-md-4">
        <h2 class="font-weight-bold">Create a new User</h2>
    </div>
    <form [formGroup]="createForm">
        <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.firstName.errors }" />
            <div *ngIf="submitted && this.createForm.controls.firstName.errors"
            class="invalid-feedback">
                <div *ngIf="this.createForm.controls.firstName.errors.required">
                    First Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && this.createForm.controls.lastName.errors }" />
            <div *ngIf="submitted && this.createForm.controls.lastName.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.lastName.errors.required">
                    Last Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address :</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    #email
                    [ngClass]="{ 'is-invalid': this.createForm.value.email !== '' && this.createForm.controls.email.errors && email.validity.patternMismatch}"
                    [pattern]="emailRegex"
            />
            <div *ngIf="this.createForm.value.email !== '' && this.createForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="this.createForm.controls.email.errors.required">
                    Email is required
                </div>
                <div *ngIf="this.createForm.controls.email.errors.pattern">
                    Email must be a valid email address
                </div>
            </div>
        </div>
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-danger nav-link" routerLink="/users">Cancel</button>
        <button type="submit" [disabled]="createForm.invalid" (click)="onCreateUser()" class="btn btn-primary mr-1">Create User</button>
      </div>
    </form>
</div>
