<div class="container-fluid col-md-5 mt-3 justify-content-center">
    <div class="d-flex flex-wrap justify-content-between mt-md-4 mb-md-4">
        <h2 class="font-weight-bold">Create a new Equipment</h2>
    </div>
    <form [formGroup]="createForm" (ngSubmit)="onCreateEquipment()">
        <div class="form-group">
            <label for="name">Equipment Name </label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="teamType">Equipment Type </label>
            <select id="teamType" class="form-control" formControlName="equipmentType" (change)="initEquipmentTypeFields($event.target.value)">
                    <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.id">{{ equipmentType.name }}</option>
            </select>
        </div>
        <div class="form-group">
          <label>Fields</label>
        </div>
    </form>
      <div class="list-group-item" *ngFor="let field of equipmentTypeFields; let i = index">
        <div class="d-flex flex-wrap input-group-append form-group" style="margin-bottom: 10px">
          <span
            class="col-md-3 my-1"
            style="margin-right: -10px;"
          >
            {{ field.name }}
          </span>
          <input
            id="field-value-text"
            type="text" placeholder="value"
            class="form-control col-md-4 mr-md-2 my-1"
            *ngIf="field.value.length === 0"
            [(ngModel)]="this.initialFields[i].value"
          >
          <select
            id="field-value-select"
            class="form-control col-md-4 mr-md-2 my-1"
            *ngIf="field.value.length !== 0"
            [(ngModel)]="this.initialFields[i].value"
          >
            <option disabled selected value> -- select an option -- </option>
            <option *ngFor="let fieldValue of field.value" [value]="fieldValue">{{ fieldValue }}</option>
          </select>
          <input
            id="field-description"
            type="text"
            placeholder="description"
            class="form-control col-md-5 my-1"
          >
        </div>
      </div>
        <br *ngIf="equipmentTypeFields.length > 0"/>
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary" (click)="onAddField()">
                <span style="margin-right: 10px;">Create a new field</span>
                <fa-icon [icon]="faPlusSquare"></fa-icon>
            </button>
        </div>
        <div class="form-group" *ngFor="let field of fields; let i = index">
            <div class="d-flex flex-wrap form-row">
                <button class="btn btn-link my-1" ngbTooltip="Delete"
                        placement="bottom" (click)="deleteField(i)">
                    <fa-icon [icon]="faMinusCircle" style="color: red;font-size: 22px;"></fa-icon>
                </button>
                <input
                    type="text"
                    placeholder="Field name"
                    class="form-control col-md-3 mr-md-2 my-1"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]=field.name
                >
                <input
                    type="text"
                    placeholder="Field value"
                    class="form-control col-md-3 mr-md-2 my-1"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]=field.value
                >
                <input
                    type="text"
                    placeholder="Field description"
                    class="form-control col-md-3 mr-md-4 my-1"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]=field.description
                >
                <fa-icon class="d-flex align-items-center" [icon]="faCheck" style="color: green;" *ngIf="canValidateLine(field)"></fa-icon>
                <fa-icon class="d-flex align-items-center" [icon]="faTimes" style="color: red;" *ngIf="!canValidateLine(field)"></fa-icon>
            </div>
        </div>
        <form [formGroup]="createForm" (ngSubmit)="onCreateEquipment()">
        <div class="form-group">
            <label for="file">Upload File</label>
            <input formControlName="file" accept="image/*,application/pdf" id="file" type="file" multiple class="form-control text-truncate" (change)="getFileInfo($event);onFileUpload($event)">
            <small *ngIf="!isSizeFileOk()" class="alert-danger">The size of the file must be under 10 Mo.</small>
            <small *ngIf="!isTypeFileOk()" class="alert-danger">The file must be an image or a PDF.</small>
        </div>
        <div class="list-group">
            <ul class="list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let file of myFiles;"
                    >
                    <div class="container-fluid row justify-content-between">
                        <h5 style="margin-bottom: 0px; vertical-align: middle;">{{ file.name }}</h5>
                        <button class="btn btn-danger" (click)="onRemoveFile(file)"><fa-icon [icon]="faMinusSquare" size="2x"></fa-icon></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
          <button class="btn btn-danger nav-link" routerLink="/equipments">Cancel</button>
          <button
            type="submit"
            class="btn btn-primary"
            title="Name, Equipment Type and Fields value required"
            [disabled]="createForm.invalid || missingEquipmentTypeFieldsValue() || !(canValidateForm()) || creationLoader || fileUploadLoader"
          >
            <ng-spinner *ngIf="fileUploadLoader" ngbTooltip="A file is probably being upload !" placement="top" class="mx-1" size="1" type="border" color="light"></ng-spinner>
            <ng-spinner *ngIf="creationLoader" ngbTooltip="Please wait for the equipment to be created ..." placement="top" class="mx-1" size="1" type="border" color="light"></ng-spinner>
            <span *ngIf="!creationLoader && !fileUploadLoader">Create Equipment</span>
          </button>
        </div>
    </form>
</div>
