<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete Equipment</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span class="font-weight-bold"> {{ modalEquipmentTypeName }}</span> ? Be careful the equipments of this type will be deleted as well !</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>

<div class="container-fluid col-12" style="padding: 0px;">
    <div class="list-group">
        <ul class="list-group">
            <li
                class="container-fluid list-group-item font-weight-bold"
                *ngFor="let equipmentType of equipmentTypes; let i = index"
                >
                <div class="d-flex container-fluid row flex-wrap justify-content-between">
                    <h5 class="col-sm-8" (click)="onViewEquipmentType(i)">{{ equipmentType.name }}</h5>
                    <div class="d-flex justify-content-end">
                        <a class="mr-3 my-2"
                           (click)="onViewEquipmentType(i)"
                           style="cursor: pointer"
                           ngbTooltip="Info"
                           placement="bottom"
                        >
                            <fa-icon class="fa-lg"
                                     [icon]="faInfoCircle"
                                     style="color:gray"></fa-icon>
                        </a>
                        <a class="my-2"
                           (click)="openDelete(contentDelete, equipmentType, i)"
                           *ngIf="onDeleteEquipmentTypePermission()"
                           style="cursor: pointer;"
                           ngbTooltip="Delete"
                           placement="bottom"
                        >
                            <fa-icon class="fa-lg"
                                    [icon]="faTrash"
                                    style="color:#dc3545"></fa-icon>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
