<div class="row my-3">
    <div class="container-fluid col-12" style="padding: 0px;">
        <div class="list-team">
            <ul class="list-team">
                <li
                    class="container-fluid list-team-item font-weight-bold "
                    *ngFor="let teamType of teamTypes; let i = index">
                    <div class="container-fluid row justify-content-between">
                        <h3>{{ teamType.name }}</h3>
                        <div>
                            <button class="btn btn-info" (click)="onViewTeamType(i)"><fa-icon [icon]="faInfoCircle"></fa-icon></button>
                            <button class="btn btn-danger" (click)="onDeleteTeamType(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>