<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete DataProvider</h4>
    </div>
    <div class="modal-body">
        <p> Are you sure you want to delete this data provider ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('OK')">Delete</button>
    </div>
</ng-template>
<div class="container-fluid col-10 mt-3 justify-content-center" *ngIf="loaded">
        <div class="container-fluis d-flex justify-content-between">
            <div class="d-flex">
                <h2 class="font-weight-bold">{{localDataProvider?.name}}</h2>
            </div>
            <div class="d-flex btn-group align-items-center">
                <div class="activated"> Enable </div>
                <div class="deactivated"> Disable </div>
                <label class="switch mx-2">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <button class="btn btn-danger" (click)="openDelete(contentDelete)"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="font-weight-bold"> Data Provider info : </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="px-2 py-1">
                        <p><span class="font-weight-bold">Name :</span></p>
                        <div class="input-group row col-6">
                            <input type="text" class="form-control" 
                                [attr.disabled]="!inputEnabled.name ? '' : null"
                                [(ngModel)]="localDataProvider.name"
                                >
                                <div class="input-group-append" *ngIf="onChangeTaskPermission()">
                                    <button class="btn btn-outline-secondary" *ngIf="!inputEnabled.name" (click)="enableInput('name')"><fa-icon [icon]="faPen"></fa-icon></button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" *ngIf="inputEnabled.name" (click)="saveInput('name')"><fa-icon [icon]="faSave"></fa-icon></button>
                                </div>
                        </div>
                        <p><span class="font-weight-bold">File :</span></p>
                        <div class="input-group row col-6">

                        </div>
                        <p><span class="font-weight-bold">Recurrence :</span></p>
                        <div class="input-group row col-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="font-weight-bold"> Equipment : </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="px-2 py-1">
                        <p><span class="font-weight-bold">Equipment :</span></p>
                        <div class="input-group row col-6">

                        </div>
                        <p><span class="font-weight-bold">Equipment IP :</span></p>
                        <div class="input-group row col-6">

                        </div>
                        <p><span class="font-weight-bold">Field :</span></p>
                        <div class="input-group row col-6">

                        </div>
                        <button class="btn btn-success">Test</button>
                    </div>
                </div>
            </div>
        </div>
</div>
    