<div class="page-wrap d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center mb-md-4">
      <div class="col-md-12 text-center">
        <span class="display-4 d-block">Forgot password</span>
        <br>
        <div class="mb-4 lead">Enter your email or your username, check your mailbox and click on the link that will be sent to you to reset your password and unblock your account.  </div>
      </div>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="form-group">
          <label for="email">Email Address :</label>
          <input id="email" type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && forgotPasswordForm.controls.email.errors}">
          <div *ngIf="submitted && forgotPasswordForm.controls.email.errors.email" class="invalid-feedback">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid': submitted}">

        </div>
      </div>
      <div class="row justify-content-center">
        <button
          class="btn btn-primary mr-1"
          [disabled]="canValidateForm()"
          title="You must enter either your email address or your username."
        >
          Send Email
        </button>
      </div>
    </form>
  </div>
</div>
