<div class="container-fluid col-10 mt-3 justify-content-center">
    <div class="d-flex">
        <h2 class="font-weight-bold">Create a new team</h2>
    </div>
    <form [formGroup]="createForm" (ngSubmit)="onCreateTeam()">
        <div class="form-group">
            <!--
            <mat-form-field class="example-full-width">
                <mat-label>Team Name</mat-label>
                <input type="text" id="teamName" class="form-control" formControlName="teamName">
              </mat-form-field>
            -->
            <label for="teamName">Team Name </label>
            <input type="text" id="teamName" class="form-control" formControlName="teamName">
        </div>
        <div class="form-group">
            <!--
            <mat-form-field>
                <mat-label>Team Type</mat-label>
                <select matNativeControl id="teamType" formControlName="teamType" required>
                    <option *ngFor="let teamType of teamTypes" [value]="teamType.id">{{ teamType.name }}</option>
                </select>
              </mat-form-field>
            -->
            <label for="teamType">Team Type </label>
            <select id="teamType" class="form-control" formControlName="teamType">
                    <option *ngFor="let teamType of teamTypes" [value]="teamType.id">{{ teamType.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <!--
            <mat-form-field appearance="fill" class="form-field-fill">
                <mat-label>Users</mat-label>
                <mat-select multiple required name='groups' class="form-field" formControlName="users">
                  <mat-option 
                    class="list-groups-item"
                    *ngFor="let user of users"
                    value= "{{ user.id }}">{{ user.username }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            

            <label for="teamType">Users</label>
            <select id="teamType" class="form-control" formControlName="teamType">
                    <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
            </select>
            -->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Create team</button>
    </form>
    <div class="container-fluid alert alert-danger mt-3" role="alert" *ngIf="creationError">
        <p class="font-weight-bold">Error when creating the team :</p>
        <p>This team name is probably invalid !</p>
    </div>
</div>