<div class="container-fluid justify-content-center col-md-8 mt-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-md-4 mb-md-4">
        <h3 class="font-weight-bold">Equipment Management</h3>
        <div class="my-3" *ngIf="onAddEquipmentPermission()">
          <button class="btn btn-primary" (click)="onCreateEquipment()"><fa-icon [icon]="faPlus"></fa-icon> Create new Equipment</button>
        </div>
    </div>

    <app-equipments-list></app-equipments-list>
</div>
