<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete">Delete EquipmentType</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span class="font-weight-bold"> {{ name }}</span> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</ng-template>

<ng-template #contentModify let-modal>
    <form [formGroup]="equipmentTypeForm" (ngSubmit)="modifyEquipmentType()" >
        <div class="modal-header">
            <h4 class="modal-title" id="modal-modify">Modify EquipmentType</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class='form-control' formControlName="name" [(ngModel)]="name">
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('KO')">Cancel</button>
            <button class="btn btn-success" [disabled]="equipmentTypeForm.invalid" type="submit">Modify</button>
        </div>
    </form>
</ng-template>

<div class="container-fluid col-md-8 mt-3 justify-content-center">
    <div class="d-flex flex-wrap justify-content-between mt-md-4 mb-md-4">
        <div class="d-flex align-items-center">
            <a (click)="onPreviousPage()"
               style="cursor:pointer;"
               ngbTooltip="Previous page"
               placement="bottom">
                <fa-icon class="mr-3" [icon]="faChevronLeft"></fa-icon>
            </a>
            <h2 class="font-weight-bold m-0">{{ name }}</h2>
        </div>
        <div class="d-flex btn-group" role="group">
            <button class="btn btn-danger" (click)="openDelete(contentDelete)" *ngIf="onDeleteEquipmentTypePermission()"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold"> Equipment Type informations </h3>
            </div>
            <div class="d-flex">
                <a class="mr-2 my-2"
                (click)="openModify(contentModify)"
                *ngIf="onChangeEquipmentTypePermission()"
                style="cursor:pointer"
                ngbTooltip="Modify"
                placement="top"
            >
                <fa-icon class="fa-lg"
                            [icon]="faPencilAlt"
                            style="color: gray"
                ></fa-icon>
            </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row col-12">
                <div class="py-1">
                    <p><span class="font-weight-bold">Name  :</span> {{ name }} <p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <h3 class="font-weight-bold">Equipments</h3>
            </div>
        </div>
        <div>
            <ul class="w-100 list-group">
                <li
                    class="container-fluid list-group-item font-weight-bold "
                    *ngFor="let equipment of equipments; let i = index">
                    <div class="container-fluid row justify-content-between">
                        <h5 (click)="onViewEquipment(equipment)">{{ equipment.name }}</h5>
                        <div class="d-flex">
                            <a class="mr-2 my-2"
                               (click)="onViewEquipment(equipment)"
                               style="cursor: pointer"
                               ngbTooltip="Info"
                               placement="bottom"
                            >
                                <fa-icon class="fa-lg"
                                         [icon]="faInfoCircle"
                                         style="color: gray"
                                ></fa-icon>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="equipments.length < 1" class="m-3">
                <span>No related equipments !</span>
            </div>
        </div>
    </div>
    <div class="card mt-5">
            <div class="card-header d-flex justify-content-between">
              <h3 class="font-weight-bold">Fields</h3>
              <a class="d-flex align-items-center"
                 (click)="openModifyField()"
                 *ngIf="onChangeEquipmentTypePermission() && (!modifyFields) && fields.length > 0"
                 style="cursor:pointer;"
                 ngbTooltip="Modify fields"
                 placement="top"
              >
                  <fa-icon class="fa-lg"
                           [icon]="faPencilAlt"
                           style="color: gray;"></fa-icon>
              </a>
              <a class="d-flex align-items-center"
                 (click)="saveFields()"
                 *ngIf="onChangeEquipmentTypePermission() && (modifyFields)"
                 ngbTooltip="Save"
                 placement="top"
                 style="cursor:pointer;"
              >
                  <fa-icon class="fa-lg"
                           [icon]="faSave"
                           style="color: gray;"></fa-icon>
              </a>
            </div>
        <div>
            <ul class="w-100 list-group">
                <li
                class="container-fluid list-group-item"
                *ngFor="let field of fields; let i=index">
                    <div class="container-fluid d-flex flex-wrap row justify-content-between">
                        <div class="d-flex row col-12">
                            <div class="col my-1">
                                <span class="font-weight-bold" >{{field.name}}</span>
                                <ul class="container-fluid">
                                  <li *ngFor="let value of field.value; let i = index"> {{ value }}</li>
                                </ul>
                            </div>
                            <div>
                                <input
                                type="text"
                                placeholder="Values"
                                class='form-control my-1 flex'
                                *ngIf="modifyFields && canAddValue[i]"
                                style="margin-right: 10px;"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]= newFieldsValues[i]
                                >
                                <small class="text-muted" *ngIf="modifyFields && canAddValue[i]">You can enter multiple values separated by a comma <br> (eg : Apple,Amazon,Facebook)</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="fields.length < 1" class="m-3">
                <span>No related fields !</span>
            </div>
        </div>
    </div>
</div>


