<div class="container-fluid col-12" style="padding: 0px;">
    <div class="list-group">
        <ul class="list-group">
            <li
                class="container-fluid list-group-item font-weight-bold"
                *ngFor="let dataProvider of dataProviders; let i = index"
                >
                <div class="container-fluid row justify-content-between align-items-center">
                    <h5 (click)="onViewDataProvider(i)">{{ dataProvider.name }}</h5>
                    <div class="d-flex align-items-center">
                        <label class="switch mx-2">
                          <input type="checkbox"
                                 id="activated"
                                 name="activated"
                                 class="form-control"
                                 [(ngModel)]="dataProvider.is_activated"
                                 (click)="onActivate(dataProvider)"
                          >
                          <span class="slider round"></span>
                        </label>
                        <a class="mr-2 my-2"
                           (click)="onViewDataProvider(i)"
                           style="cursor:pointer;"
                        >
                            <fa-icon class="fa-lg"
                                    [icon]="faInfoCircle"
                                    style="color:gray"></fa-icon>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
